extends layout

block content
    h2 HTML Table
    table
        tr
            th Tên người hỏi
            th Câu hỏi
            th Thời gian hỏi
        each val in data
            tr
                td= val.name
                td= val.question
                td= val.time